@model Tarefas.Models.Lista

@{
    ViewData["Title"] = "Apagar lista";
}

<h1>Apagar lista</h1>

<h3>Realmente deseja apagar a lista @Model.ListaNome?</h3>
<div>
    <h4>Lista</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaDataLembrete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaDataLembrete)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListaLembrete)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListaLembrete)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ListaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para listas</a>
    </form>
</div>
